.card {
  width: 23%;
  height: auto;
  /* border: 1px solid black ;  */
  margin: 10px 0;
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.description {
  width: 100%;
  height: 24%;
  justify-content: center;
}

.bottom {
  width: 100%;
  height: 50px;
}

.image-card img {
  padding: auto;
  width: 90%;
  object-fit: contain;
  box-sizing: border-box;
  height: 90%;
}

.description p {
  font-size: 19px;
  font-weight: 500;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  margin: auto;
}

.description h2 {
  margin-bottom: 12px;
  font-weight: bolder;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: center;
  justify-items: center;
  margin: auto;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom button {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background:#282c34;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
}



