.table-prd {
  width: 100%;
  border-collapse: collapse;
}

.table-prd th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
  background-color: #dddddd;
}

.table-prd td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}